<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resource.server.dao.TestTableDao">
  <resultMap id="BaseResultMap" type="com.resource.server.model.TestTable">
    <id column="pk" jdbcType="INTEGER" property="pk" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="port" jdbcType="VARCHAR" property="port" />
  </resultMap>
  <sql id="Base_Column_List">
    pk, number, version, port
  </sql>
  
  <select id="query" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_table
    where pk = #{pk,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.resource.server.model.TestTable">
    insert into test_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null">
        number,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="port != null">
        port,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.resource.server.model.TestTable">
    update test_table
    <set>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=VARCHAR},
      </if>
    </set>
    where pk = #{pk,jdbcType=INTEGER}
  </update>
</mapper>